importFrom("terra", "crs", "ext", "rast", "vect", "distance", "writeRaster", "as.data.frame")
importFrom("data.table", "%chin%", "setDT", "setorder", "as.data.table", ":=", "melt","setnames")
importFrom("pbapply", "pblapply", "pboptions")
importFrom("stats", "setNames")

export(IDW)
