importFrom("terra", "crs", "ext", "extract","nlyr", "rast", "vect", "distance", "predict", "writeRaster", "as.data.frame")
importFrom("data.table", "%chin%", "%between%", "setDT", "copy", "fifelse", "setorder", "data.table", "as.data.table", ":=", "melt", "rbindlist", "setkey", "setnames")
importFrom("pbapply", "pblapply", "pboptions")
importFrom("qmap", "fitQmapQUANT", "fitQmapRQUANT", "doQmapRQUANT", "doQmapQUANT")
importFrom("randomForest", "randomForest")
importFrom("stats", "na.omit", "setNames")
importFrom("future.apply", "future_lapply")

export(IDW)
export(Cressman)
export(RFmerge)
export(RFplus)
